*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

* {
    font-family: 'Texturina', serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 5px;
}

/* heading */
.heading__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    text-align: center;
}

.heading__title {
    color: #ffffff;
    font-size: 64px;
    font-weight: 700;
}

.heading__subtitle {
    margin-top: 40px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
}
/*  */

/* title */

.title__wrapper {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 160px 10px 160px 45px;
}

.title__wrapper-right {
    padding: 160px 45px 160px 10px;
}

.title {
    color: #ffffff;
    font-size: 95px;
    font-weight: 700;
}

.subtitle {
    margin-top: 25px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

/*  */


.black {
    color: black;
}

.btntitle {
    cursor: pointer;
    margin-top: 40px;
    width: 322px;
    height: 65px;
    border-radius: 33px;
    background-color: #21243d;
    transition: all 1s;
    
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
}

.btntitle:hover {
    color: #ffd17e;
}


/* ------ */

.header {
    background-color: #21243d;
    min-height: 85px;
}

.header__wrapper {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    
}

.logo {
    display: flex;
    align-items: center;
    padding: 0 10px 0 50px;
    flex: 0 1 400px;
}
.navbar {
    width: 670px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.navbar__item {
    margin: 0 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    transition: all 1s;
    text-decoration: none;
}

.navbar__item:hover {
    color: #ffd17e;
}


.search {
    padding: 0 15px;
    cursor: pointer;
    margin-left: auto;
}

.burger {
    display: none;
}


/* SECTION promo */

.promo {
    min-height: 800px;
    background: url(../img/title/title_bg.png) center center/cover no-repeat;

}



/* SECTION MENU */

.menu {
    min-height: 800px;
    background: url(../img/menu/menu_bg.png) center center/cover no-repeat;
    background-color: #21243d;
}

.menu__wrapper {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.menu__order {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;;
}

.menu__list {
    text-align: center;
    max-width: 240px;
}

.menu__title {
    margin-top: 20px;
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
}

.menu__subtitle {
    margin-top: 12px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
}

/* SECTION EXAMPLE */

.example {
    min-height: 800px;
    background: url(../img/exemple/example_bg.png) center center/cover no-repeat;
    background-color: #ffd17e;
}

.example__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.example__img {
    max-width: 465px;
}


/* SECTION STAT */

.stat {
    min-height: 800px;
    background: url(../img/stat/stat_bg.png) center center/cover no-repeat;
    background-color: #21243d;
}

.stat__wrapper {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat__circle {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.circle__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 275px;
    border: 5px solid #ffffff;
    border-radius: 50%;
}

.stat__int {
    color: #ffffff;
    font-size: 75px;
    font-weight: 700;
}

.stat__str {
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
}


/* SECTION REV_EXEMPLE */

.reverse_example {
    min-height: 800px;
    background: url(../img/exemple/rev_exemple_bg.png) center center/cover no-repeat;
    background-color: #ffd17e;
}


/* SECTION PROFILE */

.profile {
    min-height: 940px;
    background: url(../img/profile/profile_bg.png) center center/cover no-repeat;
    background-color: #21243d;
}

.profile__wrapper {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile__img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.profile__title {
    margin-top: 50px;
    color: #ffffff;
    font-size: 42px;
    font-weight: 400;
    text-align: center;
}

.profile__subtitle {
    margin-top: 40px;
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

/* SECTION subscribe */

.subscribe__heading-wrapper {
   max-width: 890px;
}
.subscribe__heading-title {
    font-size: 75px
}
.subscribe__heading-subtitle {
    font-size: 30px;
}

.subscribe {
    min-height: 800px;
    background: url(../img/subscribe/subscribe_bg.png) center center/cover no-repeat;
    background-color: #ffd17e;
}

.subscribe__wrapper {
    margin: 0 auto;
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe__form {
    position: relative;
    margin-top: 85px;
}

.subscribe__input {
    padding: 22px;
    width: 700px;
    height: 64px;
    border-radius: 32px;
    background-color: #ffffff;

    color: rgba(0, 0, 0, 0.5);
    font-size: 25px;
    font-weight: 400;
}

.subscribe__btn {
    position: absolute;
    right: 0px;

    width: 222px;
    height: 64px;
    border-radius: 33px;
    background-color: #21243d;
    cursor: pointer;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    transition: all 1s;
}

.subscribe__btn:hover {
    color: #ffd17e;
}

/* FOOTER */

.footer {
    background-color: #000000;
    min-height: 600px;
}

.footer__wrapper {
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__title {
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
}

.footer__subtitle {
    margin-top: 35px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.footer__item {
    cursor: pointer;
    list-style-type: none;
    margin-bottom: 10px;
    text-decoration: none;
}

.footer__link {
    transition: all 1s;
    color: #ffffff;
    text-decoration: none;
}

.footer__link:hover {
    color: #ffd17e;
}

/* INFO WRAPPER */

.info__wrapper {
    display: flex;
    justify-content: start;
    align-items: top;
}

.info__items {
    margin: 0 15px;
}

/* SOCIAL */
.social {
    max-width: 462px;
}

.social__links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 35px;
    
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 32px;
    color: black;
    margin: 0 7px;
    text-decoration: none;
    transition: all 1s;
}

.social__link:hover {
    background-color: #ffd27e;
    color: #21243d;
}


/* ----------------------------------------MEDIA----------------------------------- */


@media (max-width: 992px) {


    .title {
        font-size: 70px;
    }

    .title__wrapper {
        max-width: 500px;
    }

    .subtitle {
        margin-top: 10px;
        font-size: 18px;
        line-height: 23px;
    }

    .btntitle {
        margin-top: 20px;
    }

    .promo, .example, .reverse_example {
        min-height: 650px;
    }
    
    .container {
        max-width: 960px;
    }
    /* HEADER */
    .logo {
        padding-left: 20px;
    }
    .navbar {
        justify-content: flex-end;
    }

    .navbar__item {
        font-size: 22px;
    }
    
    .search {
        display: none;
    }
    
    /* CIRCLE */
    .circle__item {
        width: 230px;
        height: 230px;
    }

    .stat__int {
        font-size: 55px;
        line-height: 55px;
    }
    
    .stat__str {
        font-size: 36px;
    }

    /* EXAMPLE */

    .title__wrapper {
        max-width: 500px;
        padding: 120px 10px 120px 45px;
    }

    .example__img {
        max-width: 300px;
    }
    /* PROFILE */

    .profile__wrapper {
        padding-top: 60px;
    }

    .profile__img {
        width: 300px;
        height: 300px;
    }

    .profile__title {
        font-size: 28px;
    }

    .profile__subtitle {
        margin-top: 25px;
        font-size: 50px;
    }

    /* subscribe */

    .subscribe__heading-subtitle {
        font-size: 28px;
    }


    /* FOOTER */

    .footer {
        min-height: 400px;
    }

    .footer__wrapper {
        padding-top: 50px;
    }
    
    .footer__title {
        font-size: 28px;
    }
    

    .social__link {
        width: 40px;
        height: 40px;
        font-size: 28px;
    }

    .social {
        max-width: 320px;
    }

    .footer__subtitle {
        margin-top: 10px;
        font-size: 14px;
    }

    .info__items {
        margin: 0 20px;
    }
    
}

@media (max-width: 768px) {


    .container {
        max-width: 720px;
    }

    .promo, .example, .reverse_example {
        min-height: 350px;
    }


    .subtitle {
        margin-top: 10px;
        font-size: 24px;
        line-height: 23px;
    }

    .header {
        min-height: 70px;
    }

    .logo img {
        max-width: 150px;
    }

    .navbar__item {
        display: none;
    }

    .burger {
        width: 40px;
        height: 25px;
        display: block;
        cursor: pointer;
        margin-right: 10px;
    }

    /* PROMO */

    .title__wrapper {
        max-width: 600px;
        padding: 50px 50px 80px;
    }

    /* MENU */
    .menu {
        min-height: 720px;
    }

    .menu__wrapper {
        padding-top: 0;
    }

    .menu__list:last-child {
        display: none;
    }

    .menu__list img {
        width: 200px;
    }

    /* STAT */

    .stat__wrapper {
        padding-top: 10px;
    }

    .stat {
        min-height: 600px;
    }

    .circle__item {
        width: 170px;
        height: 170px;
    }

    .stat__int {
        font-size: 50px;
        line-height: 50px;
    }

    .stat__str {
        font-size: 30px;
    }


    /* PROFILE */

    .profile {
        min-height: 600px;
    }

    .profile__img {
        width: 220px;
        height: 220px;
    }

    .profile__title {
        margin-top: 30px;
        font-size: 22px;
    }

    /* SUBSCRIBE */

    .subscribe {
        min-height: 500px;
    }

    .subscribe__wrapper {
        padding-top: 50px;
    }

    .subscribe__heading-title {
        font-size: 62px;
    }

    .subscribe__heading-subtitle {
        margin-top: 20px;
        font-size: 20px;
    }

    .subscribe__input {
        width: 500px;
    }

    .subscribe__btn {
        width: 180px;
        font-size: 21px;  
    }
    /* EXEMPLE */

    .example__img {
        display: none;
    }

    /* FOOTER */

    .footer__subtitle {
        font-size: 8px;
    }
    
    .info__items {
        margin: 0 10px;
    }


}

   
